body {
    background-color: lightgray;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.main-heading {
    text-align: center;
    color: green;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

